<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="DesktopFolder" SourceName="Desktop" />
			<Directory Id="StartupFolder" SourceName="Startup" />
			<?if $(var.Platform)=x64?>
				<Directory Id="ProgramFiles64Folder">
					<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)"></Directory>
				</Directory>
			<?else?>
				<Directory Id="ProgramFilesFolder">
					<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)"></Directory>
				</Directory>
			<?endif?>
		</Directory>
	</Fragment>
</Wix>
